[defaults]
forks = 6
gathering = explicit
host_key_checking = False
retry_files_enabled = False
inventory = inventory
roles_path = ../

[privilege_escalation]
become = True

[ssh_connection]
ssh_args = -F .ssh/config -o ControlMaster=auto -o ControlPersist=3600s
